h1,h2,h3,h4,h5,h6,p,a{
  /*font-family: sans-serif;*/
}

.main-home{
    background-color: #00000066;
}



.title-transition{
}

.subtitle-transition{

}

.text-body{
  margin: 5% 10%;
  background-color: #98989824;
  padding: 3% 3%;
  border-radius: 10px;

}

.paragraph-block{
  margin: 5px 0;
  font-size: 1.3rem;
  text-indent: 3rem;
}

.responsive-bg-image{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fixed-menu{
  overflow: hidden;
  position: fixed;
  top: 0%;
  border-radius:2px;
}

.text-shadow{
  text-shadow: 2px 2px 5px #000000;
}
