{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/watch.jpg')}});
;" >
    <h1 class="text-uppercase mb-0 text-shadow">Ferramentas de Consumo</h1>
    <h2 class="font-weight-light mb-0 text-shadow">A internet oferece muitas fontes de entretenimento, qual você deveria dar foco?</h2>
</header>

<div class="container">
 <section class="bg-primary text-white" >
    <h2 class="text-uppercase title-transition" id="youtube-t">1.0 - Youtube</h2>
        <div class="lead mx-3 pb-5">

          <p class="text-justify">A plataforma de conteúdo youtube disponibiliza a possibilidade de que o usuário contribua com seu acervo de vídeos, para isto é necessário apenas o vídeo que se tem interesse de publicar e uma conta na plataforma (MAIS ABAIXO TERÁ UM PASSO A PASSO DE COMO FAZER). A plataforma além de hospedar os seu videos da também a possibilidade de monetizar os vídeos (apenas para vidos com muitas visualizações e que não infringem seus termos).</p>

        </div>
  </section>

</div>


<br><br><br>
{% endblock %}
