{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/watch.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Ferramentas de Consumo</h1>
<h2 class="font-weight-light mb-0 text-shadow">A internet oferece muitas fontes de entretenimento, qual você deveria dar foco?</h2>
</header>
<div class="text-dark mb-3">
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="youtube-t">1.0 - Youtube</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<p class="text-justify paragraph-block">A plataforma de conteúdo youtube disponibiliza a possibilidade de que o usuário contribua com seu acervo de vídeos, para isto é necessário apenas o vídeo que se tem interesse de publicar e uma conta na plataforma (MAIS ABAIXO TERA UM PASSO A PASSO DE COMO FAZER). A plataforma além de hospedar os seu videos da também a possibilidade de monetizar os vídeos (apenas para vidos com muitas visualizações e que não infringem seus termos).</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}