{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/watch.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Ferramentas de Consumo</h1>
<h2 class="font-weight-light mb-0 text-shadow">A internet oferece muitas fontes de entretenimento, qual você deveria dar foco?</h2>
</header>
<div class="text-dark mb-3">
<div>
<section>

<div class="d-flex  title-transition"  id="vadeos-t">
    <h3 class="text-uppercase mr-auto">Vídeos</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Todo mundo adora assistir alguma forma de vídeo, não é? Sempre tem um filme ou episódio de uma série que te faz ficar vidrado na tela. Os vídeos são perfeitos para uma maior interação audio-visual. O acesso e consumo de vídeos ainda é crescente. Fica cada dia mais fácil assistir vídeos no celular, televisão, computador até carros e <a href="https://www.samsung.com/us/explore/family-hub-refrigerator/overview/">geladeiras</a>!</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition" style="margin: 20px 18%">
<h4 class="text-uppercase" id="youtube-t">Youtube</h4>
</div>


<p class="text-justify paragraph-block">Todo mundo provavelmente já acessou o Youtube para assistir algum vídeo. De fato essa plataforma contém muito material para ser consumido, porém, é perfeita também para distribuição de seu material!</p>
<p class="text-justify paragraph-block">A plataforma de conteúdo youtube disponibiliza a possibilidade de que o usuário contribua com seu acervo de vídeos, para isto é necessário apenas o vídeo que se tem interesse de publicar e uma conta na plataforma (MAIS ABAIXO TERA UM PASSO A PASSO DE COMO FAZER). A plataforma além de hospedar os seu videos da também a possibilidade de monetizar os vídeos (apenas para vidos com muitas visualizações e que não infringem seus termos).</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}