{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/create.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Ferramentas de Criação</h1>
<h2 class="font-weight-light mb-0 text-shadow">Qual a melhor ferramenta para aquele seu trabalho escolar?</h2>
</header>
<div class="text-dark mb-3">
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="exemplosdetrabalhody-t">
    <h3 class="text-uppercase mr-auto">Exemplos de trabalho 📄</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">😎 Fizemos um compilado de dicas e macetes para escrever trabalhos e apresentações! Após terminar de ler, confira nossos exemplos e use como base para seus trabalhos:</p>
<p class="text-justify paragraph-block">🔗<a href="https://drive.google.com/open?id=1Xa1g6EpfCOxGba3R8_PxllIuu_eWoDneF10y7BnTYcI" target="_blank">Acesse nosso exemplo de trabalho escrito</a></p>
<p class="text-justify paragraph-block">🔗<a href="https://drive.google.com/open?id=1k1i5lYc8s77bA5AhlzWZn4juEyTTQkQgITyE7cAbMBY" target="_blank">Acesse nosso exemplo de Slides</a></p>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="trabalhosescritosdys-t">
    <h3 class="text-uppercase mr-auto">Trabalhos escritos 📚</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="googledocs-t">Google Docs</h3>
</div>


<p class="text-justify paragraph-block">O Google Docs é um editor de textos que contém diversas funcionalidades para uma escrita de alto nível, como: corretor ortográfico, sumário automático, edição de imagens online, edição por múltiplos usuários ao mesmo tempo, entre muitas outras funcionalidades. Qualquer pessoa pode se conectar ao google docs por dispositivos simples, como celular ou computador com acesso a internet.</p>
<hr width="60%">
</section>
<section style="margin: 20px 8%; padding: 5px 0px 0px 8%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="dicasdeescritadetextody-t">Dicas de escrita de texto!📓</h3>
</div>


<p class="text-justify paragraph-block">Uma diquinha não vai fazer mal, certo? Por isso elaboramos três simples dicas para arrasar no seu trabalho escrito!</p><br>
<p class="text-justify paragraph-block"><h3 class="text-center">Melhores TRÊS dicas para seu trabalho! </b></h3></p>
<p class="text-justify paragraph-block"><b>Use modelos!</b></p>
<p class="text-justify paragraph-block">Usar modelos te ajuda a lembrar do que deve fazer e em qual ordem, até os melhores precisam se espelhar em algo. Mas é só pra usar como base! Nós disponibilizamos esse 🔗<a href="https://drive.google.com/open?id=1Xa1g6EpfCOxGba3R8_PxllIuu_eWoDneF10y7BnTYcI" target="_blank">modelo</>! </p><br>
<p class="text-justify paragraph-block"><b>Pesquise sobre o assunto!</b> 📰</p>
<p class="text-justify paragraph-block">Leia jornais, revistas ou acesse a internet para entender melhor sobre o que você quer falar. Lembre-se de sempre dizer de onde pegou a informação.</p><br>
<p class="text-justify paragraph-block"><b>Faça um esboço!</b></p>
<p class="text-justify paragraph-block">Pare por um momento e pense no que quer dizer com o trabalho, desenhe setas para tópicos e faça um simples mapa mental com explicações! Planeje uma base e siga a partir dela!</p><br>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="apresentaaSSauesdetrabalhosdyzY-t">
    <h3 class="text-uppercase mr-auto">Apresentações de trabalhos 🎥</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="slidesgoogle-t">Slides Google</h3>
</div>


<p class="text-justify paragraph-block">A ferramenta de apresentações do Google funciona online também (como várias outras ferramentas do Google) e conta com edição de qualquer dispositivo com acesso a internet, edição em tempo real em grupo, etc. Ele é compatível também com o famoso Power Point!</p>
<p class="text-justify paragraph-block">Todo mundo já precisou usar slides em algum momento da vida escolar. Uma apresentação pode ficar muito mais agradável e fácil de entender quando conta com slides bem feitos. Mas nem tudo é só maravilhas, slides podem dar uma baita dor de cabeça quando não forem bem feitos.</p>
<hr width="60%">
</section>
<section style="margin: 20px 8%; padding: 5px 0px 0px 8%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="dicasdeapresentaaSSaPSo-t">Dicas de apresentação</h3>
</div>


<p class="text-justify paragraph-block">Para te ajudar na sua jornada, nós do UTFACE reunimos um *TOP* 5 dicas de como não vacilar nos slides:</p><br>
<p class="text-justify paragraph-block"><h3 class="text-center"><b>✨Super Top 5 de dicas para slides!✨</b></h3></p>
<p class="text-justify paragraph-block"><b>Muita informação pode ser demais!</b>✨💥</p>
<p class="text-justify paragraph-block">Use a regrinha das cinco linhas, para manter textos curtos, divida em tópicos.</p><br>
<p class="text-justify paragraph-block">🎀<b>Não fique doido com enfeitinhos!</b>🎀</p>
<p class="text-justify paragraph-block">Transições, animações, brilhos, sons na prática são confusos, difíceis de encaixar na apresentação e podem distrair quem assiste da apresentação!</p><br>
<p class="text-justify paragraph-block"><b>Use fontes agradáveis aos olhos de quem assiste 👀</b></p>
<p class="text-justify paragraph-block">Se a tela onde a apresentação estiver sendo feita estiver muito longe, calcule isso de antemão e compense nas fontes de um tamanho bom.</p><br>
<p class="text-justify paragraph-block"><b>Facilite a leitura</b> 🌈</p>
<p class="text-justify paragraph-block">Não use fundos que tem a mesma cor do texto! Isso dificulta e distrai tanto o leitor quanto você apresentando!</p><br>
<p class="text-justify paragraph-block"><b>💪 Pratique! 💪</b></p>
<p class="text-justify paragraph-block">Por último mas não menos importante! É clichê, mas só assim vai conseguir entender nuâncias da profissionalidade de um bom slide para uma boa apresentação! Foque no que sente fraco em si mesmo e melhore com o tempo!</p><br>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="vadeosdyo-t">
    <h3 class="text-uppercase mr-auto">Vídeos 📺</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Todo mundo adora assistir alguma forma de vídeo, não é? Sempre tem um filme ou episódio de uma série que te faz ficar vidrado na tela. Os vídeos são perfeitos para uma maior interação audio-visual. O acesso e consumo de vídeos ainda é crescente. Fica cada dia mais fácil assistir vídeos no celular televisão, computador até carros e <a href="https://www.samsung.com/us/explore/family-hub-refrigerator/overview/">geladeiras</a>! 🤩</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="youtubedy-t">Youtube 📹</h3>
</div>


<p class="text-justify paragraph-block">O youtube para criadores tem se mostrado uma ferramenta poderosíssima! Você pode simplesmente abrir o seu canal e divulgar lá vídeos feito por você de forma gratuita e de fácil compartilhamento.</p>
<p class="text-justify paragraph-block">No próprio aplicativo do Youtube você tem aceso à um editor de vídeo, então facilita mais ainda a vida.</p>
<p class="text-justify paragraph-block">Você pode fazer um trabalho escolar em vídeo e editá-lo no youtube!</p>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="podcastsdy-t">
    <h3 class="text-uppercase mr-auto">Podcasts 📻</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Podcasts funcionam apenas por áudio, você escuta, como se fosse rádio! O bom disso é que você pode aproveitar disso em quase QUALQUER lugar: no ônibus, trânsito, viajando, fazendo exercícios físicos.</p>
<p class="text-justify paragraph-block">Divulgar trabalhos ou ideias por podcast pode ajudar quem te escuta à ter maior disponibilidade à sua informação!</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}