{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/create.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Ferramentas de Criação</h1>
<h2 class="font-weight-light mb-0 text-shadow">Qual a melhor ferramenta para aquele seu trabalho escolar?</h2>
</header>
<div class="text-dark mb-3">
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="ferramentas-google-t">1.0 - Ferramentas Google</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<p class="text-justify paragraph-block">A empresa Google dispõe de diversas ferramentas que ajudam a aumentar o desempenho em certas tarefas.</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="google-docs-t">1.1 - Google Docs</h4>

</div>

<p class="text-justify paragraph-block">O Google Docs é um pacote de ferramentas que tem diversas funcionalidade como corretor ortográfico, editor de texto e gráficos online e de acesso gratuito, tudo o que é necessário para sua utilização é um dispositivo como um celular ou um computador com acesso à internet para utilizar. É possível com esta ferramenta a edição de documentos microsoft ou a criação de novos além de contar com funcionalidades úteis como o compartilhamento de arquivos, trabalhos colaborativos.</p>
<p class="text-justify paragraph-block">Nós do UTFACE_web disponibilizamos um modelo para você poder utilizar ao máximo a poderosa ferramenta de apresentação e de edição de textos do Google!</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="slides-google-t">1.2 - Slides Google</h4>

</div>

<p class="text-justify paragraph-block">Google apresentações é uma poderosa ferramenta que disponibiliza diversas maneiras  para que seja feita uma apresentação de qualidade de forma rápida, prática e simples sem a necessidade de que você precise instalar programas e assim como o google documentos, há funcionalidades como compartilhamento de arquivos, trabalhos colaborativos.</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="agendas-google-t">1.3 - Agendas Google</h4>

</div>

<p class="text-justify paragraph-block">A ferramenta Google Agenda é uma ferramenta que possibilita a criação de diversas agendas com base em um calendário, o que possibilita que usuários se organizem e acompanhem os eventos do seu dia-a-dia.</p>
<hr width="60%">
</section>
</div>
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="dropbox-t">2.0 - Dropbox</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<p class="text-justify paragraph-block">É um Software que trabalha com computação em nuvem e é destinado a aqueles que têm necessidade de acessar arquivos em diversos locais e dispositivos. Esta ferramenta oferece uma versão gratuita com um limite de 2G de armazenamento.</p>
<hr width="60%">
</section>
</div>
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="youtube-t">3.0 - Youtube</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<p class="text-justify paragraph-block">O youtube para criadores tem se mostrado uma ferramenta poderosíssima!</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}