{% extends 'base.html' %}

{% block content %}
<!-- Header -->


<main role="main" class="masthead bg-primary text-white text-center img-fluid responsive-bg-image h-100 w-100"  style="background-image:url({{url_for('static',filename='img/society.jpg')}}); padding-top: 10%;">
  <div class="container text-shadow main-home">
    <section class="mb-5">
      <h1 class="text-uppercase mb-0">Projeto UTFACE</h1>
      <h2 class="font-weight-light mb-0">Uso de Tecnologias a Favor da Aprendizagem no Contexto Escolar</h2>
    </section>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Nossa Missão</h2>
        <p class="lead">
          O UTFACE_web é um projeto que procura ajudar alunos simplificando o aprendizado e acesso das tecnologias mais essênciais.
        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Quem somos</h2>
        <p class="lead">
          Nós do UTFACE_web fazemos parte do grupo de discentes e docentes da Universidade Estadual do Norte do Paraná do campus Luis Meneghel.
        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Ida as escolas</h2>
        <p class="lead">
          Enquanto estiver em ação o UTFACE, tentaremos ir em escolas divulgar as boas práticas e vantagens de uma tecnologia de fácil acesso e qualidade.
          
        </p>
      </div>
    </div>
    </div>
</main>


{% endblock %}
