{% extends 'base.html' %}

{% block content %}
<!-- Header -->


<main role="main" class="masthead bg-primary text-white text-center img-fluid responsive-bg-image h-100 w-100"  style="background-image:url({{url_for('static',filename='img/society.jpg')}}); padding-top: 10%;">
  <div class="container text-shadow" style="background-color:#ababab78;">
    <section class="mb-5">
      <h1 class="text-uppercase mb-0">Projeto UTFACE</h1>
      <h2 class="font-weight-light mb-0">Uso de Tecnologias a Favor da Aprendizagem no Contexto Escolar</h2>
    </section>
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Nossa Missão</h2>
        <p class="text-justify">
          O UTFACE_web é um projeto TODO   
        </p>
        
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div>
    </div>
    </div>
</main>


{% endblock %}
