{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/work.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Boas práticas</h1>
<h2 class="font-weight-light mb-0 text-shadow">Qual melhor forma de abordar certos problemas?</h2>
</header>
<div class="text-dark mb-3">
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="pesquisasdy-t">
    <h3 class="text-uppercase mr-auto">Pesquisas 🔬</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Em qualquer trabalho que você irá desenvolver futuramente, independente de qual área você escolha seguir, você eventualmente irá precisar fazer algum tipo de pesquisa, seja uma em um trabalho de escola em um futuro emprego ou na pesquisa de uma receita de bolo há bons hábitos que se você seguir irá conseguir melhores resultados.</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="saberfazeraperguntadyz-t">Saber fazer a pergunta 🔎</h3>
</div>


<p class="text-justify paragraph-block">O primeiro passo para fazer uma pesquisa, sem dúvidas é a formulação de uma pergunta que represente o que você procura, por exemplo, se você quer pesquisar a solução de um problema em um computador, colocar características específicas do problema como o código do problema é bem melhor do que descrever o problema em si. Também é válido utilizar palavras chaves, utilizando o último exemplo, seria mais fácil encontrar uma resposta se você utilizar palavras como "Resolvido" ou "Problema solucionado".</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="sabersesuasfontessaPSoconfiaveisdyu-t">Saber se suas fontes são confiáveis 🕵</h3>
</div>


<p class="text-justify paragraph-block">Atualmente devido a grande quantidade de informação disponível fazer uma pesquisa de qualidade acaba sendo uma tarefa difícil, pois há várias pessoas falando sobre o mesmo assunto, o que torna difícil diferenciar um leigo expressando sua opinião de um especialista sobre o assunto. Normalmente o</p>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="apresentaaSSauesdetrabalhos-t">
    <h3 class="text-uppercase mr-auto">Apresentações de trabalhos</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Se você busca boas práticas, temos boas práticas extras pra você! Existem alguns bons hábitos que trazem o melhor entendimento na hora da apresentação, coisas como: o formato do conteúdo, cor da fonte e tamanho, influenciam diretamente a apresentação. Fazer uma boa apresentação não é algo fácil, é bem comum ficar nervoso, esquecer palavras, gaguejar e falar coisas erradas e a única coisa que pode te deixar melhor em apresentações em público é se apresentar, é algo que se acostuma com o tempo e quanto mais apresentações melhor. Mesmo pessoas experientes têm algumas dificuldades, porém existem boas práticas que você pode utilizar para que essa experiência seja a melhor possível.</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="dicasparasuaapresentaaSSaPSo-t">Dicas para sua apresentação</h3>
</div>


<p class="text-justify paragraph-block"><b>Tenha bons slides!</b></p>
<p class="text-justify paragraph-block">Fazer bons slides é o primeiro passo para uma boa apresentação pois os slides são o roteiro que irá te auxiliar na apresentação. Para o aperfeiçoamento deste, disponibilizamos um arquivo com todas as dicas importante a serem seguidas o qual para facilitar você pode editar 🔗<a href="https://drive.google.com/open?id=1Xa1g6EpfCOxGba3R8_PxllIuu_eWoDneF10y7BnTYcI" target="_blank">aqui</a>! </p><br>
<p class="text-justify paragraph-block"><b>Vista-se bem!</b> 👚</p>
<p class="text-justify paragraph-block">Sua aparência é a primeira coisa a ser avaliada pelos seu ouvintes. Evite utilizar chinelos, shorts e camisas regatas. Roupas de cores neutras são ideais para apresentação e passam um sentimento de profissionalismo. </p><br>
<p class="text-justify paragraph-block"><b>Controle o seu vocabulário</b> 🗣</p>
<p class="text-justify paragraph-block">Evite usar gírias e palavras informais, evitar vícios de linguagem como o uso excessivo de palavras como "tipo", "daí" e "então" é bastante importante e sob hipótese alguma utilize palavrões. Conhecer o tipo de ouvinte pode te dar mais liberdade por exemplo em apresentações não tão formais em que os ouvintes estejam habituados a um diálogo mais relaxado lhe permite utilizar de piadas e brincadeiras para exemplificar situações relacionadas a apresentação a tornando mais dinâmica e atraente. </p><br>
<p class="text-justify paragraph-block"><b>Sua postura!</b> 💂</p>
<p class="text-justify paragraph-block">Se mantenha sempre de frente para os ouvintes, evite segurar papéis pois você já tem os slides para se orientar, se movimentar pelo espaço disponível ajuda que todos os ouvintes possam te ver e sempre distribua sua atenção a todos os ouvintes. Uma dica que pode te ajudar em apresentações que você esteja muito nervoso é olhar por toda a platéia e encontrar pessoas que esteja prestando atenção ao que você diz e se focar nelas durante a apresentação, ATENÇÃO esta abordagem não é a ideal, porém se você estiver começando a fazer apresentações esta abordagem pode te ajudar a manter a calma.</p><br>
<p class="text-justify paragraph-block"><b>Conheça o local da apresentação!</b></p>
<p class="text-justify paragraph-block">Imprevistos sempre podem ocorrer, um data show não funcionar devidamente, o notebook não ligar ou uma tomada no palco não estar funcionando. Para evitar estas situações de deve-se ter o cuidado de ir mais cedo e preparar tudo o que for necessário para o funcionamento do equipamento da apresentação. </p><br>
<hr width="60%">
</section>
</div>
<div class="text-body">
<section style="margin: 20px 0%; padding: 5px 0px 0px 0%;">

<div class="d-flex  title-transition"  id="armazenamentodedadosdy-t">
    <h3 class="text-uppercase mr-auto">Armazenamento de dados 📂</h3>
    <a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="material-icons">contact_mail</i></a>
</div>


<p class="text-justify paragraph-block">Claro, se você é um aluno esforçado, já fez seus vídeos ou apresentações na sua casa. Como você pode fácilmente ter acesso à esses arquivos? O UTFACE vai te ajudar nessa missão, com algumas opções!</p>
<p class="text-justify paragraph-block">Muita dessas ferramentas oferecem um poder de armazenamento equivalente, fica a critério pessoal decidir qual é mais efetiva para certo caso. Vamos tentar listar as funções e diferenças mais importantes.</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="dropboxdy-t">Dropbox 💾</h3>
</div>


<p class="text-justify paragraph-block">Dropbox é um aplicativo que te ajuda a organizar seus arquivos online, ele conta com um acesso grátis de até 2 GB (equivalente em média à 6,355 mil  arquivos de Powerpoint!), possibilidade de compartilhamento entre pessoas por link ou email. É um dos mais caros caso pense em atualizar para versão paga, por outro conta com a melhor sincronização entre dispositivos, fácil compartilhamento entre amigos e outros usuários e grande segurança.</p>
<hr width="60%">
</section>
<section style="margin: 20px 4%; padding: 5px 0px 0px 4%;">

<div class="subtitle-transition">
<h3 class="text-uppercase" id="onedrive-t">Onedrive</h3>
</div>


<p class="text-justify paragraph-block">O Onedrive da Microsoft vem por padrão nas últimas versões do Windows(computador), o que facilita para quem tem acesso. Ele é poderoso no sentido que disponibiliza uma sincronização entre todo os dispositivos, dando a liberdade de por exemplo mexer no computador da sua casa e alterar o arquivo de acesso na sua escola. É relativamente barato, conta com uma boa sincronização entre dispositivos.</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}