{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-primary text-white text-center mb-5 img-fluid responsive-bg-image" style="background-image:url({{url_for('static',filename='img/work.jpg')}});" >
<h1 class="text-uppercase mb-0 text-shadow">Boas práticas</h1>
<h2 class="font-weight-light mb-0 text-shadow">Qual melhor forma de abordar certos problemas?</h2>
</header>
<div class="text-dark mb-3">
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="dicas-para-seus-slides!-t">1.0 - Dicas para seus slides!</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<p class="text-justify paragraph-block">Há alguns bons hábitos que trazem o melhor entendimento na hora da apresentação, coisas como o formato do conteúdo, cor da fonte e tamanho influenciam diretamente a apresentação.</p>
<hr width="60%">
</section>
</div>
<div>
<section>
<div class="d-flex  title-transition">

<h3 class="text-uppercase mr-auto" id="consumo-de-conteaodo-t">2.0 - Consumo de conteúdo</h3>

<a class="nav-link " data-toggle="modal" href="#exampleModal"><i class="fas fa-phone-square"></i></a>

</div>

<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="duolingo-t">2.1 - Duolingo</h4>

</div>

<p class="text-justify paragraph-block">É uma plataforma web e mobile que disponibiliza cursos de inglês com a proposta de aprender um pouco a cada dia. A plataforma tem cursos 100% em português para Alemão, Espanhol, Francês, Italiano e Esperanto. A aprendizagem é feita por meio de exercícios escritos, de leitura, de escuta e de pronúncia.</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="khan-academy-t">2.2 - Khan academy</h4>

</div>

<p class="text-justify paragraph-block">Com o objetivo “proporcionar uma educação gratuita e de alta qualidade para todos, em qualquer lugar a Khan academy oferece vídeos e exercícios para que os alunos consigam aprender dentro e fora de aula. A plataforma Web está disponível em mais de dez idiomas e oferece diversas aulas bem indexadas completamente em português-Brasil.</p>
<hr width="60%">
</section>
<section>

<div class="subtitle-transition">

<h4 class="text-uppercase" id="wikipa(c)dia-t">2.3 - Wikipédia</h4>

</div>

<p class="text-justify paragraph-block">Com mais de 3,5 milhões de artigos com mais de 720 milhões de palavras em 205 idiomas é um repositório de artigos livres os quais qualquer leitor pode ser também um contribuidor o qual pode adicionar novos artigos e editarem já existentes o que possibilita que todos com domínio do assunto possam contribuir para melhorar a qualidade do material que será lido por futuros usuários.</p><hr width="60%">
</section>
</div>

</div>
{% endblock %}